@page "/"
@using System.Linq
@using SmartMinex.Runtime
@using System.Data
@using Microsoft.AspNetCore.Http
@using System.Text
@using System.Text.Json
@inject TDispatcher _rtm
@inject IJSRuntime _jsr
@inject IHttpContextAccessor _accessor
@implements IDisposable

<RadzenStack Orientation="Orientation.Horizontal">
    <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
        <RadzenButton Style="width:200px;" Click="@(e => OnPollClick())">Опросить</RadzenButton>
        <RadzenLabel>@CountMessage(_data?.Count() ?? 0)</RadzenLabel>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
        Период опроса:
        <RadzenDropDown Data=@_varInterval @bind-Value=@Interval ValueProperty="Key" TextProperty="Value" Style="width:250px;" Change=@OnPollChanged />
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
        Режим отображения:
        <RadzenDropDown Data=@_var_viewmode @bind-Value=@_session.ViewMode ValueProperty="Key" TextProperty="Value" Style="width:250px;" />
    </RadzenStack>
    <RadzenButton Style="height:36px;" Disabled=@(_state == PageState.None || _data == null) Click="@(e => ExportToPdf())">Экспорт в PDF</RadzenButton>
</RadzenStack>

@if (_state > PageState.None && _data != null)
{
    <RadzenDataGrid @ref="_grid" Data="@_data" TItem="RfidTag" AllowSorting="true" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" SelectionMode="DataGridSelectionMode.Single"
                    FilterMode="FilterMode.Simple" @bind-Value=@_selected CellRender=@OnRowRender
                    EmptyText="Нет доступных радиочастотных меток!">
        <Columns>
            <RadzenDataGridColumn TItem="RfidTag" Property="Code" Title="Номер" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="RfidTag" Property="Battery" Title="Зарядка" TextAlign="TextAlign.Right" FilterValue="@_batteryfilter">
                <Template Context="r">
                    <RadzenText>@r.BatteryView</RadzenText>
                </Template>
                <FilterTemplate>
                    <RadzenDropDown Data="@_battery" @bind-Value=@_batteryfilter Style="width:100%" Change=@OnBatteryFilter ValueProperty="Key" TextProperty="Value" />
                </FilterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RfidTag" Property="State" Title="Состояние АКБ" TextAlign="TextAlign.Right" FilterValue="@_statefilter">
                <FilterTemplate>
                    <RadzenDropDown Data="@_states" @bind-Value=@_statefilter Style="width:100%" Change=@OnStateFilter />
                </FilterTemplate>
            </RadzenDataGridColumn>
            <!--<RadzenDataGridColumn TItem="RfidTag" Property="Version" Title="Версия ПО" TextAlign="TextAlign.Right" />-->
            @if (_session.ViewMode == 1)
            {
                <RadzenDataGridColumn TItem="RfidTag" Property="Modified" Title="Изменена" TextAlign="TextAlign.Right" Filterable="false" />
                <RadzenDataGridColumn TItem="RfidTag" Property="Waiting" Title="Ожидание" TextAlign="TextAlign.Right" Filterable="false" />
                <RadzenDataGridColumn TItem="RfidTag" Property="Status" Title="Статус" TextAlign="TextAlign.Right" Filterable="false">
                    <Template Context="r">
                        <RadzenText>@r.Status.ToDescription()</RadzenText>
                    </Template>
                </RadzenDataGridColumn>
            }
        </Columns>
        </RadzenDataGrid>
}
<body onbeforeunload=""></body>
@code {
    RadzenDataGrid<RfidTag>? _grid;
    PageState _state;
    IEnumerable<RfidTag>? _data;
    IList<RfidTag>? _selected;
    TSession _session;
    string? _statefilter;
    float? _batteryfilter;
    readonly Dictionary<int, string> _varInterval = new() { { 0, "Вручную" }, { 5, "5 сек" }, { 10, "10 сек" }, { 30, "30 сек" }, { 60, "1 мин" }, { 180, "3 мин" }, { 300, "5 мин" }, { 600, "10 мин" }, { 1800, "30 мин" } };
    readonly Dictionary<int, string> _var_viewmode = new() { { 0, "Обновление" }, { 1, "Накопительный" } };
    readonly IEnumerable<string> _states = new[] { "Заряжается", "Ожидание", "Всё" };
    readonly Dictionary<float, string> _battery = new() { { -1f, "Неисправна" }, { 0f, "Ожидается" }, { 256, "Всё" } };

    int _interval;
    public int Interval
    {
        get => _interval;
        set => _rtm.Interval = _interval = value;
    }

    protected override void OnInitialized()
    {
        _session = _rtm.Sessions.Get(_accessor.HttpContext.Session.Id);
        Interval = _rtm.Interval;
        _session.ViewMode = _session.ViewMode ?? _rtm.ViewMode;
        _data = _session.TagsData;
        _state = _data == null ? PageState.None : PageState.Success;
        _rtm.OnTagsUpdated += OnTagsUpdated;
    }

    public void Dispose()
    {
        _rtm.OnTagsUpdated -= OnTagsUpdated;
    }

    async void OnTagsUpdated()
    {
        await OnPollClick();
        try
        {
            await InvokeAsync(StateHasChanged);
        }
        catch { }
    }

    async Task OnPollClick()
    {
        _state = PageState.Polling;
        var newtags = _session.ViewMode == 0 ? await _rtm.ReadTagsAsync() : await _rtm.ReadTagsBufferedAsync();
        _session.TagsData = _data = newtags;
        _state = PageState.Success;
    }

    void OnRowRender(DataGridCellRenderEventArgs<RfidTag> row)
    {
        if (row.Column.Property == "Battery")
            if (row.Data.BatteryFault)
                row.Attributes.Add("style", "background-color:#ffd0d0");
            else if (row.Data.BatteryWait)
                row.Attributes.Add("style", "background-color:#f9f4ec");
    }

    void OnBatteryFilter(object value)
    {
        if (value.Equals(256f))
            _batteryfilter = null;
    }

    void OnStateFilter(object value)
    {
        if (value.Equals("Всё"))
            _statefilter = null;
    }

    string CountMessage(int count) =>
        " Найдено: " + count + (count.ToString()[^1].ToString() switch { "1" => " метка.", "2" => " метки.", "3" => " метки.", "4" => " метки.", _ => " меток." });

    async Task OnPollChanged(object value)
    {
        //_timer?.Stop();
        //_timer = null;
        //if (Interval > 0)
        //{
        //    _timer = new System.Timers.Timer(Interval * 1000f);
        //    _timer.Elapsed += async (s, e) =>
        //    {
        //        await OnPollClick();
        //        await InvokeAsync(StateHasChanged);
        //    };
        //    _timer.Enabled = true;
        //}
    }

    async Task ExportToPdf()
    {
        var doc = new DocumentPdf("Список RFID-меток.pdf");
        doc.Open();
        doc.InsertText("Список радиочастотных меток [" + _data.Count() + "]:                                                " + DateTime.Now.ToString());
        var dt = new DataTable();

        foreach (var col in _grid.ColumnsCollection)
            dt.Columns.Add(col.Title, typeof(string));

        if (_session.ViewMode == 0)
            _data.ToList().ForEach(r => dt.Rows.Add(
                r.Code,
                r.BatteryView,
                r.State)
            );
        else if (_session.ViewMode == 1)
            _data.ToList().ForEach(r => dt.Rows.Add(
                r.Code,
                r.BatteryView,
                r.State,
                //r.Version,
                r.Modified,
                r.Waiting,
                r.Status.ToDescription())
            );

        doc.InsertTable(dt);
        await DownloadAsync(doc.Filename, doc.ToArray());
    }

    async Task DownloadAsync(string filename, byte[] data) =>
         await _jsr.InvokeAsync<object>(
             "saveAsFile",
             filename,
             Convert.ToBase64String(data));

    enum PageState
    {
        None,
        Polling,
        Success
    }
}