@page "/"
@using System.Linq
@using SmartMinex.Runtime
@using System.Data;
@using Microsoft.AspNetCore.Http
@using System.Text;
@using System.Text.Json;
@inject TDispatcher _rtm
@inject IJSRuntime _jsr
@inject IHttpContextAccessor _accessor

<RadzenStack Orientation="Orientation.Horizontal">
    <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
        <RadzenButton Style="width:200px;" Click="@(e => OnPollClick())">Опросить</RadzenButton>
        <RadzenLabel>@CountMessage(_data?.Count() ?? 0)</RadzenLabel>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
        Период опроса:
        <RadzenDropDown Data=@_var_poll @bind-Value=@_poll ValueProperty="Key" TextProperty="Value" Style="width:250px;" Change=@OnPollChanged />
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
        Режим отображения:
        <RadzenDropDown Data=@_var_viewmode @bind-Value=@_session.ViewMode ValueProperty="Key" TextProperty="Value" Style="width:250px;" />
    </RadzenStack>
    <RadzenButton Style="height:36px;" Disabled=@(_state == PageState.None || _data == null) Click="@(e => ExportToPdf())">Экспорт в PDF</RadzenButton>
</RadzenStack>

@if (_state > PageState.None && _data != null)
{
    <RadzenDataGrid @ref="_grid" Data="@_data" TItem="RfidTag" AllowSorting="true" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" SelectionMode="DataGridSelectionMode.Single"
                    FilterMode="FilterMode.Simple" @bind-Value=@_selected CellRender=@OnRowRender
                    EmptyText="Нет доступных радиочастотных меток!">
        <Columns>
            <RadzenDataGridColumn TItem="RfidTag" Property="Code" Title="Номер" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="RfidTag" Property="Battery" Title="Зарядка" TextAlign="TextAlign.Right" FilterValue="@_batteryfilter">
                <Template Context="r">
                    <RadzenText>@r.BatteryView</RadzenText>
                </Template>
                <FilterTemplate>
                    <RadzenDropDown Data="@_battery" @bind-Value=@_batteryfilter Style="width:100%" Change=@OnBatteryFilter ValueProperty="Key" TextProperty="Value" />
                </FilterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RfidTag" Property="State" Title="Состояние" TextAlign="TextAlign.Right" FilterValue="@_statefilter">
                <FilterTemplate>
                    <RadzenDropDown Data="@_states" @bind-Value=@_statefilter Style="width:100%" Change=@OnStateFilter />
                </FilterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RfidTag" Property="Version" Title="Версия ПО" TextAlign="TextAlign.Right" />
            @if (_session.ViewMode == 1)
            {
                <RadzenDataGridColumn TItem="RfidTag" Property="Modified" Title="Изменена" TextAlign="TextAlign.Right" Filterable="false" />
                <RadzenDataGridColumn TItem="RfidTag" Property="Status" Title="Статус" TextAlign="TextAlign.Right" Filterable="false">
                    <Template Context="r">
                        <RadzenText>@r.Status.ToDescription()</RadzenText>
                    </Template>
                </RadzenDataGridColumn>
            }
        </Columns>
        </RadzenDataGrid>
}
<body onbeforeunload=""></body>
@code {
    RadzenDataGrid<RfidTag>? _grid;
    PageState _state;
    IEnumerable<RfidTag>? _data;
    IList<RfidTag>? _selected;
    TSession _session;
    string? _statefilter;
    float? _batteryfilter;
    int _poll;
    System.Timers.Timer? _timer;
    readonly Dictionary<int, string> _var_poll = new() { { 0, "Вручную" }, { 5, "5 сек" }, { 10, "10 сек" }, { 30, "30 сек" }, { 60, "1 мин" }, { 180, "3 мин" }, { 300, "5 мин" }, { 600, "10 мин" }, { 1800, "30 мин" } };
    readonly Dictionary<int, string> _var_viewmode = new() { { 0, "Обновление" }, { 1, "Накопительный" } };
    readonly IEnumerable<string> _states = new[] { "Заряжается", "Ожидание", "Всё" };
    readonly Dictionary<float, string> _battery = new() { { -1f, "Неисправна" }, { 0f, "Ожидается" }, { 256, "Всё" } };

    protected override void OnInitialized()
    {
        _session = _rtm.Sessions.Get(_accessor.HttpContext.Session.Id);
        _poll = _rtm.Interval;
        _session.ViewMode = _session.ViewMode ?? _rtm.ViewMode;
        _data = _session.TagsData;
        _state = _data == null ? PageState.None : PageState.Success;
    }

    async Task OnPollClick()
    {
        _state = PageState.Polling;
#if DEBUG
    int n;
    var rand = new Random();
    var newtags = new List<RfidTag>()
    {
    new() { Code = 1295, Battery = (n = rand.Next(27, 47)) <= 31 ? 0 : n / 10f, Flags = RfidTagFlags.Charge, Version = "2.32", Modified= DateTime.Now, Status = RfidStatus.Ready },
    new() { Code = 1417, Battery = (n = rand.Next(27, 47)) <= 31 ? 0 : n / 10f, Flags = RfidTagFlags.Charge, Modified= DateTime.Now, Status = RfidStatus.Ready },
    new() { Code = 1775, Battery = (n = rand.Next(27, 47)) <= 31 ? 0 : n / 10f, Flags = RfidTagFlags.None, Modified= DateTime.Now, Status = RfidStatus.Ready },
    new() { Code = 8655, Battery = -1f, Flags = RfidTagFlags.None, Modified= DateTime.Now, Status = RfidStatus.Ready },
    new() { Code = 9495, Battery = (n = rand.Next(27, 47)) <= 31 ? 0 : n / 10f, Flags = RfidTagFlags.Charge, Modified= DateTime.Now, Status = RfidStatus.Ready },
    new() { Code = 10008, Battery = (n = rand.Next(27, 47)) <= 31 ? 0 : n / 10f, Flags = RfidTagFlags.Charge, Modified= DateTime.Now, Status = RfidStatus.Ready },
    new() { Code = 10340, Battery = (n = rand.Next(27, 47)) <= 31 ? 0 : n / 10f, Flags = RfidTagFlags.None, Modified= DateTime.Now, Status = RfidStatus.Ready },
    new() { Code = 10366, Battery = -1f, Flags = RfidTagFlags.Charge, Modified= DateTime.Now, Status = RfidStatus.Ready },
    new() { Code = 10389, Battery = (n = rand.Next(27, 47)) <= 31 ? 0 : n / 10f, Flags = RfidTagFlags.None, Modified= DateTime.Now, Status = RfidStatus.Ready }
    };
    if (rand.Next() % 2 == 0) newtags.Add(new() { Code = 10400, Battery = (n = rand.Next(27, 47)) <= 31 ? 0 : n / 10f, Flags = RfidTagFlags.None, Modified= DateTime.Now, Status = RfidStatus.Ready });
    if (rand.Next() % 3 == 0) newtags.Add(new() { Code = 10500, Battery = (n = rand.Next(27, 47)) <= 31 ? 0 : n / 10f, Flags = RfidTagFlags.None, Modified= DateTime.Now, Status = RfidStatus.Ready });
    if (rand.Next() % 4 == 0) newtags.Add(new() { Code = 10600, Battery = (n = rand.Next(27, 47)) <= 31 ? 0 : n / 10f, Flags = RfidTagFlags.None, Modified= DateTime.Now, Status = RfidStatus.Ready });
#else
        var newtags = await _rtm.ReadTagsAsync();
#endif
        _session.TagsData = _data = _session.ViewMode == 0 ? newtags : MergeData(_data, newtags);
        _state = PageState.Success;
    }

    void OnRowRender(DataGridCellRenderEventArgs<RfidTag> row)
    {
        if (row.Column.Property == "Battery")
            if (row.Data.BatteryFault)
                row.Attributes.Add("style", "background-color:#ffd0d0");
            else if (row.Data.BatteryWait)
                row.Attributes.Add("style", "background-color:#f9f4ec");
    }

    void OnBatteryFilter(object value)
    {
        if (value.Equals(256f))
            _batteryfilter = null;
    }

    void OnStateFilter(object value)
    {
        if (value.Equals("Всё"))
            _statefilter = null;
    }

    string CountMessage(int count) =>
        " Найдено: " + count + (count.ToString()[^1].ToString() switch { "1" => " метка.", "2" => " метки.", "3" => " метки.", "4" => " метки.", _ => " меток." });

    async Task OnPollChanged(object value)
    {
        _timer?.Stop();
        _timer = null;
        if (_poll > 0)
        {
            _timer = new System.Timers.Timer(_poll * 1000f);
            _timer.Elapsed += async (s, e) =>
            {
                await OnPollClick();
                await InvokeAsync(StateHasChanged);
            };
            _timer.Enabled = true;
        }
    }

    IEnumerable<RfidTag> MergeData(IEnumerable<RfidTag> data, IEnumerable<RfidTag> newdata)
    {
        var ts = DateTime.Now;
        var res = new List<RfidTag>();
        foreach (RfidTag tag in newdata)
        {
            var battery = tag.BatteryWait && data != null ? data.Any(t => t.Code == tag.Code) ? data.First(t => t.Code == tag.Code).Battery : tag.Battery : tag.Battery;
            res.Add(new RfidTag(tag.Code, (int)tag.Flags, battery));
        }
        data?.Where(t => (ts - t.Modified).TotalSeconds <= _rtm.TagIdle && !newdata.Any(nt => nt.Code == t.Code)).ToList()
            .ForEach(t => res.Add(new RfidTag(t.Code, (int)t.Flags, t.Battery, t.Modified, RfidStatus.Fault)));

        return res.OrderBy(t => t.Code).ToArray();
    }

    async Task ExportToPdf()
    {
        var doc = new DocumentPdf("Список RFID-меток.pdf");
        doc.Open();
        doc.InsertText("Список радиочастотных меток [" + _data.Count() + "]:");
        var dt = new DataTable();

        foreach (var col in _grid.ColumnsCollection)
            dt.Columns.Add(col.Title, typeof(string));

        if (_session.ViewMode == 0)
            _data.ToList().ForEach(r => dt.Rows.Add(
                r.Code,
                r.BatteryView,
                r.State,
                r.Version)
            );
        else if (_session.ViewMode == 1)
            _data.ToList().ForEach(r => dt.Rows.Add(
                r.Code,
                r.BatteryView,
                r.State,
                r.Version,
                r.Modified,
                r.Status.ToDescription())
            );

        doc.InsertTable(dt);
        await DownloadAsync(doc.Filename, doc.ToArray());
    }

    async Task DownloadAsync(string filename, byte[] data) =>
         await _jsr.InvokeAsync<object>(
             "saveAsFile",
             filename,
             Convert.ToBase64String(data));

    enum PageState
    {
        None,
        Polling,
        Success
    }
}